<div class = 'SportHeader'>
	<h1>Sports Feed: </h1>
</div>


	
			<div class="favorites">
				<% if user_signed_in?%>
					<strong>Select Favorites:</strong><br />
						<div><%= form_for current_user, html: { method: :patch } do |f| %><br />					<%= collection_check_boxes(:user, :category_ids, Category.all, :id, :title) %></div>
							<br />
							<%= f.submit 'Save' %>
						<% end %>
				<% end %>
			</div>
		
	<div class ="bodycontainer">
			<% @blogs.each do |b| %>
					<div class = "bposttitle"><a href = "/blogs/<%= b.id %>"><hr>Article Post:</a><br />
						Title: <%= b.title %> |
						Sport: <%= b.category.title if b.category %><br />

						<!-- Likes and Dislikes Functionality (Start) -->
							<div class ="caption" style= "text-align:left;">
								<%=link_to like_blog_path(b), class: "like", method: :put do %>
									<button type= "button" class="btn btn-info" aria-label="Left_Align">
										<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
										<span class="badge"><%= b.get_upvotes.size %></span>
									</button>
								<% end %>
								<%=link_to like_blog_path(b), class: "like", method: :put do %>
									<button type= "button" class="btn btn-info" aria-label="Left_Align">
										<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
										<span class="badge"><%= b.get_downvotes.size %></span>
									</button>
								<% end %>
							</div>
						<!-- Likes and Dislikes Functionality (End) -->

			
							<div class = "textboxes">Content: <%= b.content %></div><br />
							<p>
								<strong>Image:</strong>
						  		<img src="<%= b.image.url()%>">
							</p>

				<% b.comments.each_with_index do |c, index| %>x<br />
					 <div class ='comment-list' ><%= index + 1 %>. Comment:<br /><br />
						  <%= c.content %><br />
					</div>
				<% end %>
			<% end %>
	</div>

	<h3>ActionCable Chat</h3>


		<div id="messages">
			<%=render @messages %>
		</div>



		

	



