<div class = 'sportheader'><h3>Create Sports Blog:</h3></div>


<!-- Create A New Post (Start) -->
<%= form_for @blog do |f| %>
	Title: <%= f.text_field :title %><br />
	<%= f.collection_radio_buttons :category_id, Category.all, :id, :title %>
	
	<hr>
	<div class = "blogcontent">Blog Content:</div><br />

	
	<div class="field">
	    <%= f.label :Uploaded_Images %><br>
	    <%= f.file_field :image %>
  	</div><br>



	<div class = "createcontent"><%= f.text_area :content, :cols => 70, :rows => 13%>
	</div>
	<br />
	
	<div class = "contentsubmit"><%= f.submit "Create Sports Blog" %></div>
<% end %>
<!-- Create A New Post (End) -->
 