<div class = "sblogheader">
	<h2>Current Article:</h2>
</div>
<div class = "showlinks">
			<% if current_user && current_user.id === @blog.user_id %>
				<%= link_to "Create New Post" , new_blog_path %> •
				<%= link_to "Edit Post" , edit_blog_path %> •
					<%= link_to "Delete Post", blog_path, method: :delete %> 
			<% end %>
</div><br />


<div class="container-fluid">
	<div class="row content">
		<!-- Current Article Being Viewed -->
		<div class="col-md-8">
			<div class= "post-container">
				
				<img src="<%= @blog.image.url()%>">
				
				<div class = "scontent"><strong><h3>Title: <%= @blog.title %></h3></strong>

					<strong>Sport:</strong> <%= @blog.category.title %><br /><br />
					<%= @blog.content %>
				</div>

			<!-- Diplay of Current Comment Starts -->
				
				<% if current_user && current_user.id === @blog.user_id %>
					<% @blog.comments.each_with_index do |comment, index| %>
				  		<div class = "addcomments">
				  			<a href="" class="message_username"><%= current_user.email %></a><br />

				  			<%= index + 1 %>. <%= comment.content %><br /><br />
					  
						  	<%= link_to "Edit", edit_blog_comment_path(:blog_id => @blog.id, :id => comment.id) %> •

						  	<%= link_to "Delete", blog_comment_path(:blog_id => @blog.id, :id => comment.id), :method => :delete %><hr>	
						  		 	
						</div><br />
					<% end %>
				<% end %>
			<!-- Diplay of Current Comment Ends -->

			</div>
		</div>

			<!-- Created Comment Starts  -->
			<div class="col-md-3 sidenav">
				<div class= "createcomment">
					<!-- update comments -->
						<br /> <%= render 'comments/form' %><br />
				</div>	

			<!-- Created Comment Ends  -->
			</div>
	</div>
</div>















































