<p id="notice"><%= notice %></p>

<div class="fluid-container">
  <div class="row">
    <div class="col-sm-2" style="position: fixed; top 70px; left: 0;">
      <% if user_signed_in? %>
        <h5>Chatrooms</h5>
        <ul>
          <% current_user.chatrooms.each do |chatroom| %>
            <li><%= link_to chatroom.name, chatroom %></li>
          <% end %>
        </ul> 
      <% end %>
    </div>
    <div class="col-sm-10 col-sm-offset-2" >
      <h1>Chatrooms</h1>
        <%= link_to 'New Chatroom', new_chatroom_path %>
          <% @chatrooms.each do |chatroom| %>
            <ul>
              <li><strong><%= chatroom.name %></strong></li>
              <%= link_to 'Show', chatroom %> •
              <%= link_to 'Edit', edit_chatroom_path(chatroom) %> •
              <%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %> •
              <%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post %> •
              <%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete %>
            </ul>
          <% end %>
    </div>
  </div>
</div>
<br>

