

<!-- Individual Category Sport Page (Start) -->
<div class = "sportheader"><h1><%= @category.title %></h1></div>





	<div class="sportarticles">
				<% @category.blogs.each_with_index do |b, index|%>
					<div class ='article-list' ><%= index + 1 %>. 
					    Title: <%= b.title %><br />
					<div class="sportcontent">Content: <br /><%= b.content %><br /></div>
					   	<% b.comments.each_with_index do |b, index| %>
					   	<%= index + 1 %>. 
							<%= b.content %>
						<% end %>
						<img src="<%= b.image.url()%>"/>
					</div>
					
						
				<% end %>
	</div>

<!-- Individual Category Sport Page (End) -->