

<!-- Individual Category Sport Page (Start) -->
<div class = "sportheader"><h1><%= @category.title %></h1></div>


<div class="container-fluid">
	<div class="row content">
		<!-- Current Individual Categories A User 'Can Save' (Start)  -->
		    <div class="col-md-2 sidenav">
		    	<div class = "favoritescontainer">
					<% if user_signed_in?%>
							<strong><h3>Favorites:</h3></strong>
								<%= form_for current_user, html: { method: :patch } do |f| %>
								
									<%= collection_check_boxes(:user, :category_ids, Category.all, :id, :title) %>		
								
									<%= f.submit 'Save' %>
								<% end %>
					<% end %>
				</div>
			</div>
			<!-- Current Individual Categories A User 'Can Save' (End)  -->

		<!-- Individual Category Sport Page (Start) -->
		<div class="col-md-6">
			<div class="postcontainer">
				<% @category.blogs.each_with_index do |b, index|%>
					<div class ='article-list' ><%= index + 1 %>. 
					    Title: <%= b.title %><br />
					    Sport: <%= b.category.title if b.category %><br />

					    <!-- Likes and Dislikes Functionality (Start) -->
							<div class ="caption" style= "text-align:left;">
								<%=link_to like_blog_path(b), class: "like", method: :put do %>
									<button type= "button" class="btn btn-info" aria-label="Left_Align">
										<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
										<span class="badge"><%= b.get_upvotes.size %></span>
									</button>
								<% end %>
								<%=link_to like_blog_path(b), class: "like", method: :put do %>
									<button type= "button" class="btn btn-info" aria-label="Left_Align">
										<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
										<span class="badge"><%= b.get_downvotes.size %></span>
									</button>
								<% end %>
							</div>
						<!-- Likes and Dislikes Functionality (End) -->

					<div class="sportcontent">Content: <br /><%= b.content %><br /></div>
					   	<% b.comments.each_with_index do |b, index| %>
					   	<%= index + 1 %>. 
							<%= b.content %>
						<% end %>
						<img src="<%= b.image.url()%>"/>
					</div>
					<hr>
						
				<% end %>
			</div>
		</div>
		<!-- Individual Category Sport Page (End) -->

				<!-- Chat Feature (Start) -->
 			<div class="col-sm-3 sidenav">	
	    			
 					<h2>What's On Your Mind?</h2>
	    			<div class="input-box">
	    				<div id="messages">
							<%=render @messages %>
						</div>
		      		    <div class="input-box">
    						<input type="text" class="input-box_text" id="message_input"/>
  						</div>
		 			</div>
			</div>
			
			<!-- Chat Feature (End) -->


	</div>
</div>




















